<!-- <div class="profile-container">
  <h1>Profile</h1>
  <img class="profile-image" [src]="currentEmployee.image" alt="Profile Image">
  <form *ngIf="currentEmployee" class="profile-info">
    <div class="form-group">
      <label for="id">ID</label>
      <input type="text" id="id" [value]="currentEmployee.id" readonly class="important">
    </div>
    <div class="form-group">
      <label for="prefix">Prefix</label>
      <input type="text" id="prefix" [(ngModel)]="currentEmployee.prefix" name="prefix">
    </div>
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" [(ngModel)]="currentEmployee.firstName" name="firstName">
    </div>
    <div class="form-group">
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" [(ngModel)]="currentEmployee.lastName" name="lastName">
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone Number</label>
      <input type="text" id="phoneNumber" [(ngModel)]="currentEmployee.phoneNumber" name="phoneNumber">
    </div>
    <div class="form-group">
      <label for="homeNumber">Home Number</label>
      <input type="text" id="homeNumber" [(ngModel)]="currentEmployee.homeNumber" name="homeNumber">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="currentEmployee.email" name="email">
    </div>
    <div class="form-group">
      <label for="position">Position</label>
      <input type="text" id="position" [(ngModel)]="currentEmployee.position" name="position">
    </div>
    <div class="form-group">
      <label for="image">Image URL</label>
      <input type="text" id="image" [(ngModel)]="currentEmployee.image" name="image">
    </div>
    <div class="profile-actions">
      <button type="button" class="save-button" (click)="saveProfile()">Save</button>
      <button type="button" class="cancel-button" (click)="cancelEdit()">Cancel</button>
    </div>
  </form>
  <p *ngIf="!currentEmployee">Please log in to view your profile.</p>
</div> -->

<body>

<header>
  <div class="logo">
      <img src="assets/images/trend-logo.png" alt="Logo">
  </div>
</header>

<main>

<div class="profile-container">
  <div class="profile-picture">
    <img class="profile-image" [src]="'assets/images/profile.jpg'" alt="Profile Image">
    <div class="profile-picture-qr">
      <img [src]="'assets/images/qr-code.png'" alt="QR Code">
    </div>
  </div>

  <div class="profile-info">
    <h1>{{currentEmployee.prefix}} {{currentEmployee.firstName}} {{currentEmployee.lastName}}</h1>
    <p>{{currentEmployee.position}}</p>
    <a href="mailto:trend@gmail.com">{{currentEmployee.email}}</a>
    <a href="tel:+967773932515">{{currentEmployee.phoneNumber}}</a>
  </div>

  <div class="contacts-container">
    <div class="contact">
      <a>
        <img src="assets/images/call.jpg" alt="call">
      </a>
    </div>
    <div class="contact">
      <a>
        <img src="assets/images/whatsapp.png" alt="whatsapp">
      </a>
    </div>
    <div class="contact">
      <a>
        <img src="assets/images/mail.png" alt="mail">
      </a>
    </div>
    <div class="contact">
      <a>
        <img src="assets/images/share.png" alt="share">
      </a>
    </div>
  </div>
</div>

</main>



</body>

