
<div class="settings-container">
  <div class="settings-header">
    <h1>Settings</h1>
    </div>

  <ul>

    <li class="settings-link"><a [routerLink]="['/profile', currentEmployee?.id]">Profile</a></li>
    <li class="settings-link"><a routerLink="account">Account</a></li>
    <li class="settings-link"><a routerLink="password">Password</a></li>
    <!-- <li class="settings-link"><a routerLink="notifications">Notifications</a></li>
    <li class="settings-link"><a routerLink="privacy">Privacy</a></li>
    <li class="settings-link"><a routerLink="blocked">Blocked</a></li>
    <li class="settings-link"><a routerLink="security">Security</a></li>
    <li class="settings-link"><a routerLink="data">Data</a></li>
    <li class="settings-link"><a routerLink="help">Help</a></li>
    <li class="settings-link"><a routerLink="about">About</a></li> -->

  </ul>

</div>
